<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
      <delegateCommandHandler class="com.microsoft.java.debug.plugin.internal.JavaDebugDelegateCommandHandler">
            <command id="vscode.java.startDebugSession"/>
            <command id="vscode.java.resolveClasspath"/>
            <command id="vscode.java.buildWorkspace"/>
            <command id="vscode.java.fetchUsageData"/>
            <command id="vscode.java.configLogLevel"/>
       </delegateCommandHandler>
   </extension>
</plugin>
